@use 'variables' as *;
@use "sass:map";
@use "sass:math";


$breakpoints: (
    mobile: 640px,
    tablet: 768px,
    desktop: 1152px
);
$gap-settings: (
    mobile: 1rem,
    tablet: 1.5rem,
    desktop: 2rem
);


@mixin flex-container($breakpoint-gap: 1rem) {
    display: flex;
    flex-wrap: wrap;
    column-gap: $breakpoint-gap; // Unified gap application
}

@mixin flex-column($span: 1, $columns: 12, $gap: 0, $items-per-row: $columns / $span) {
    $percentage: math.div(100%, $columns);
    $total-gaps-per-row: $items-per-row - 1; // Total number of gaps in a row
    $gap-correction: $gap * math.div($total-gaps-per-row, $items-per-row); // Full gap distributed across items
    $width: calc((#{$percentage * $span}) - #{$gap-correction}); // Corrected width for the spanned columns

    & {
        flex: 0 0 #{$width};
        max-width: #{$width};
    }
}

@mixin flex-responsive-gaps($gap-settings, $breakpoints-map) {
    @each $breakpoint, $gap in $gap-settings {
        @if map.has-key($breakpoints-map, $breakpoint) {
            @media (min-width: map.get($breakpoints-map, $breakpoint)) {
                & { column-gap: $gap }
            }
        }
    }
}

// Utility Classes for Item Spans
@mixin generate-item-classes($max: 12, $gap: 0) {
    @for $span from 1 through $max {
        @for $columns from $span through $max {
            $items-per-row: math.div($columns, $span); // Dynamically calculate items per row

            .item-#{$span}-#{$columns} {
                @include flex-column($span, $columns, $gap, $items-per-row);
            }
        }
    }
}

// Generate Classes
@include generate-item-classes(12, map.get($gap-settings, desktop)); // Use desktop gap by default


// Applying the mixins
.container {
    width: 100%; 
    max-width: none; 
    margin:auto;

    @include flex-container(map.get($gap-settings, mobile)); // Default to mobile gap
    @include flex-responsive-gaps($gap-settings, $breakpoints);

    @media screen and (min-width: map.get($breakpoints, desktop)) {
        & { max-width: 1440px } 
    }
}

[class^="item"] {
    //outline: 1px solid rgba(255, 183, 77, 1); // Example color
}
