.nav {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      font-size: 2rem;
      padding: 1rem 2rem;

      a {
        color: $vividOrange;
        text-decoration: none;}
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
}

main {
  display: flex;
  width: 50%;
  height: 100%;
  margin-left: 50%;
}

.skill {
  &-info {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    aside { width: 30% }

    &--content {
      width: 70%;
      padding-left: 30px;

      & > div {
        display: inline-block;
        position: relative;
      }

      h1 { 
        @include BodoniModa;

        font-size: 10rem;
        line-height: 1;
        color: $washedGrey;
        margin: 0;
        display: inline-block;
        
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          background-color: $vividOrange;
          margin-bottom: 0.1em
        }
      }
      h4 {
        @include Barlow(500);

        font-size: 3.5rem;
        color: $lightGrey;
        margin: 0;
        text-align: right;
        line-height: 1;

        i {
          font-style: normal;
          color: $vueGreen;
          font-size: 75%;
          font-weight: 600;
        }
        span {
          @include BodoniModa($style: italic);

          position: absolute;
          left: 0;
          font-size: 75%;
          line-height: 1.5;
        }
      }
    }
  }


  &-features {
    margin: 0;
    padding: 0;

    $medGrey: oklch(27.5% 0.0185 294.32);

    section.section {
      height: 100vh;
      position: sticky;
      top: 0;
      padding: 6.4rem;
      background-color: $medGrey;
      transition: transform 0.5s;

    
      @for $i from 0 through 6 {
        // Calculate a darker shade for each step
        $lightness: 27.5% - ($i * 1%);
        $darkened-color: "oklch(#{$lightness} 0.0185 294.32)";
    
        &:nth-of-type(#{$i}) { background-color: unquote($darkened-color) }
      }
    }
    
    
    &--image.responsiveImg {
      $imgMargin: 3.2rem;

      margin: $imgMargin;
      width: calc(100% - (2 * #{$imgMargin}));
    }
    h2 {
      @include BodoniModa;

      font-size: 3.6rem;
      color: $washedGrey;

      &:before {
        content: "";
        display: inline-block;
        margin-right: 1rem;
        width: 1em;
        height: 1em;
        background-color: $vividOrange;
        -webkit-mask-image: url('../img/icons/fi-rr-code-simple.svg');
                mask-image: url('../img/icons/fi-rr-code-simple.svg');
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        vertical-align: bottom;
      }
      &:after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: $limeGreen;
        margin: 0.25em 0 1em;
      }
    }
  }
}
ul.referenceUL {
  //counter-reset: item;
  margin-top: 5em;
  
  a {
    text-decoration: none;
    color: $washedGrey;

    &:hover {
      color: $limeGreen;
    }
  }
  .reference { 
    display: flex;
    align-items: center;

    &--number {
      display: inline-block;
      width: 80px;
      margin-right: 1em;
    }
  }
/*   li::before {
    @include Barlow(500);

    display: inline-block;
    content: "0" counter(item) ;
    counter-increment: item;
    color: $vueGreen;
    font-size: 2rem;
    line-height: 1.35;
    margin-right: 0.5em;
  } */
  h3 {
    @include Barlow(500);

    font-size: 3.6rem;
    color: $lightGrey;
    line-height: 9rem;
  }
}


.highlighted {
  display: flex;

/*   &::before {
    content: "✓";
    font-size: 2rem;
    color: red !important;
    display: inline-block;
    margin-right: 0.5em;
  } */
}
