@use 'variables' as *;
@use "sass:map";

#skills {
  header {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: fixed;
    left: 0;
  }
  
  main {
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    overflow: hidden;
  }

  .nav {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
  
      li {
        font-size: 2rem;
        padding: 1rem 2rem;
  
        a {
          color: $vividOrange;
          text-decoration: none;}
      }
    }
  }
}


.skill {
  svg {
    height: 100%;
    max-width: 100%;
  }

  &--info {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    aside { width: 30% }

    &--description {
      width: 70%;
      padding-left: 30px;

      & > div {
        display: inline-block;
        position: relative;
      }

      h1 { 
        @include BodoniModa;

        font-size: 10rem;
        line-height: 1;
        color: $washedGrey;
        margin: 0;
        display: inline-block;
        
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          background-color: $vividOrange;
          margin-bottom: 0.1em
        }
      }
      h3 {
        @include Barlow(500);

        font-size: 3.5rem;
        color: $lightGrey;
        margin: 0;
        text-align: right;
        line-height: 1;

        i {
          font-style: normal;
          color: $vueGreen;
          font-size: 75%;
          font-weight: 600;
        }
        span {
          @include BodoniModa($style: italic);

          position: absolute;
          left: 0;
          font-size: 75%;
          line-height: 1.5;
        }
      }
    }

    &--refNavigation {
      ul {
        margin-top: 5em;
  
        a {
          text-decoration: none;
          color: $washedGrey;
      
          &:hover { 
            color: $limeGreen; 
            cursor: pointer; 
          }
        }
      }
      &--reference { 
        display: flex;
        align-items: center;
        height: 80px;
    
        &--number {
          display: inline-block;
          height: 100%;
          margin-right: 1em;
          padding: 1.25em 1.25em 1.25em 0;
        }
      }
    
      h3 {
        @include Barlow(500);
    
        font-size: 3.6rem;
        color: $lightGrey;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &-features {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    $medGrey: oklch(27.5% 0.0185 294.32);

    &--imageWrapper {
      display: flex;
      height: 100%;
      overflow: hidden;
      margin-top: 3.2rem;
    }
    section.section {
      height: 100vh;
      //position: sticky;
      top: 0;
      padding: 6.4rem 6.4rem 0 6.4rem;
      background-color: $medGrey;
      transition: transform 0.5s;
      border-top: 1px solid $limeGreen;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &:first-child { 
        & > p:first-child::first-letter {
          color: $limeGreen;
          margin-right: 0.1em;
          font-size: 350%;
          float: left;
          line-height: 0.75; // FF does not support first-letter line-height
         }
        & > p::first-line { line-height: inherit } 
      }
    }
    
    &--image.responsiveImg {
      width: auto;
      border-radius: 1rem;
      object-fit: contain;
      margin-top: auto
    }
    h2 {
      @include BodoniModa;

      font-size: 3.6rem;
      color: $washedGrey;

      &:before {
        content: "";
        display: inline-block;
        margin-right: 1rem;
        width: 1em;
        height: 1em;
        background-color: $vividOrange;
        -webkit-mask-image: url('../img/icons/fi-rr-code-simple.svg');
                mask-image: url('../img/icons/fi-rr-code-simple.svg');
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        vertical-align: bottom;
      }
      &:after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: $limeGreen;
        margin: 0.25em 0 1em;
      }
    }
    pre[class*="language-"] { margin-top: auto }
  }
}

.highlighted {
  display: flex;

  h3 {
    background-color: $vividOrange;
    color: $mainBkgColor !important;
    padding: 0.2em 0.5em;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
}

@media screen and (max-width: map.get($breakpoints, tablet)) {
  #skills {
    header {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      position: relative;
    }
    
    main {
      display: flex;
      width: auto;
      height: auto;
      margin-left: auto;
      overflow: auto;
    }

    .nav {
      width: 100%;
      height: 4.5rem;
      margin: 0;
      padding: 0 3.5rem;
      position: fixed;
      background-color: $mainBkgColor;
      z-index: 11;

      ul {
        justify-content: space-between;

        li {
          width: auto;
          padding: 0;
        }
      }
    }
  }

  .skill {
    &--info {
      margin-top: 1rem;
      
      aside { 
        width: 25%;
        order: 2;
        margin-left: 3.5rem;
      }

      &--refNavigation { display: none; }
      &--description {
        padding-left: 0;
        width: calc(75% - 3.5rem);

        h1 { 
          font-size: 7rem;
          width: 100%; 
        }
        h3 { font-size: 2.8rem }
        & > div { width: 100% }
      }
    }
    &-features {
      scroll-snap-type: none;

      section.section { 
        padding: 3rem 3.5rem 0 3.5rem;
        scroll-snap-stop: normal;
        height: auto;

        .wave { margin: 2rem auto 1rem }
      }

      h2 {
        margin-left: 1.5em;
        text-indent: -1.25em;

        &::before { margin-left: 0 }
        &::after { 
          margin-left: calc(-1em - 1rem);
          margin-right: 2em;
          margin-bottom: 2rem;
          width: calc(100% + 1em);

        }
      }
    }
  }
}