@use "sass:color";
@use "sass:map";
@use "sass:list";


$baseFontSizes: (
  mobile: 8px,
  tablet: 9px,
  desktop: 10px,
);
$breakpoints: (
    mobile: 640px,
    tablet: 960px,
    desktop: 1152px,
);
$pageMargin: (
  mobile: 4rem,
  tablet: 5rem,
  desktop: 8rem
);
$h2fontSizes: (
  mobile: 6rem,
  tablet: 6.6rem,
  desktop: 7.2rem,
);


/** ––– Responsive property mixin –––––––––––––––––––––––––––––––––– */
// Talkes a quoted css property and a map of values and sets the value of the property at each breakpoint
@mixin responsive-property($property, $map) {
  @each $breakpoint, $value in $map {
    @if map.has-key($breakpoints, $breakpoint) {
      $media-query: map.get($breakpoints, $breakpoint);
      $index: list.index(map.keys($breakpoints), $breakpoint);

      // Only calculate $prev-query if $index > 1
      $prev-query: if($index > 1, list.nth(map.values($breakpoints), $index - 1), null);

      // Only calculate $next-query if $index is not the last in the list
      $next-query: if($index < list.length(map.keys($breakpoints)), list.nth(map.values($breakpoints), $index + 1), null);

      @if $prev-query and $next-query {
        @media screen and (min-width: #{$prev-query + 1}) and (max-width: #{$media-query}) {
          #{$property}: #{$value};
        }
      } @else if $next-query {
        @media screen and (max-width: #{$media-query}) {
          #{$property}: #{$value};
        }
      } @else if $prev-query {
        @media screen and (min-width: #{$prev-query + 1}) {
          #{$property}: #{$value};
        }
      }
    } @else {
      @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
    }
  }
}
 /** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/** ––– Colors ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$limeGreen: #a6fc52;
$vueGreen: #41b883;
$vividOrange: #fd5b37;
$darkGrey: #1f1f25;
$deepBlack: #060002;
/* $medGrey: #282630; */
$medGrey: oklch(27.5% 0.0185 294.32);
$lightGrey: #b8b8b8;
$washedGrey: #efe7e7;

$mainBkgColor: $darkGrey;
$boxBkgColor: $medGrey;
$accentcolor: $vueGreen;
$vividColor: $vividOrange;
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/** ––– Fonts –––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin BodoniModa($weight: 400, $style: normal) {
   @if ($style !=normal and $style !=italic) {
      @error "Invalid style value: #{$style}. It must be either 'normal' or 'italic'.";
   }

   font-family: "Bodoni Moda", serif;
   font-optical-sizing: auto;
   font-weight: $weight;
   font-style: $style;
}
 
@mixin Barlow($weight: 400, $style: normal) {
   @if ($style !=normal and $style !=italic) {
      @error "Invalid style value: #{$style}. It must be either 'normal' or 'italic'.";
   }     

   font-family: "Barlow", sans-serif;
   font-weight: $weight;
   font-style: $style;
}
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/** ––– Parameters ––––––––––––––––––––––––––––––––––––––––––––––––– */
$standardMargin: 1.6rem;
$standardMargin-X2: calc($standardMargin * 2);
$standardMargin-X3: calc($standardMargin * 3);
$standardMargin-X4: calc($standardMargin * 4);
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
