@use "sass:color";
@use "sass:map";


/** ––– Colors ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$limeGreen: #a6fc52;
$vueGreen: #41b883;
$vividOrange: #fd5b37;
$darkGrey: #1f1f25;
$medGrey: #282630;
$lightGrey: #b8b8b8;
$washedGrey: #efe7e7;

$mainBkgColor: $darkGrey;
$boxBkgColor: $medGrey;
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
